/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2017, 3:10:05 PM
    Author     : MariamAshraf
*/

#map{
    width: 40%;
    height: 400px;
    float:right;
}
#adInfo{
    width:60%;
    border:2px #000 groove ;
    border-radius: 5px;
    height:400px;
    padding:30px;
    overflow: scroll;
}
#title
{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #269abc;
}
#type
{
    text-align: left;
    font-size: 20px;
    word-break: break-all;
}
#photo
{
    color: transparent;
    margin-left: 39%;
}
#add , #displayInfo , .button , #addPhoto
{
    width: 150px;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #cd54a9;
    background-color: #cd54a9;
    border-radius: 5px;
    margin-left: 56%;

}
#photos
{
    width: 200px;
    height: 200px;
    border-radius: 7px;
    border: 2px solid black;
}
#displayInfo
{
    float:right ;
    margin-top:-40px;
    margin-right: 10px;
}
#result
{
    float: right;
    font-size: 20px;
    margin-right: 38px;
    display: none;
}
#add
{
    margin-left: 30%;
}
.fa-star.checked{
    color:orange;
}
.fa-star.shaded{
    color:orange;
}
#navBar a
{
    padding:15px 90px;
    height:50px;
}
.modal-body{
    height: 250px;
    overflow-y: auto;

}
#btn
{
    display:inline-block;
}
.button
{
    width:100px;
    height:40px;
}
.rate
{
    width:300px;
    margin-left:15%;
}
.heading
{
    font-weight: bold;
    font-size: 15px;
}
#div
{
    margin-left: 20%;
}
#newComment
{
    width: 50%;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 5px;    
}
#addPhoto
{
    width:200px;
    text-align: center;
    margin-left:43%;
    display:block;
}
#NewPhotos
{
    border:2px solid black;
    width: 350px;
    margin-left: 39%;
    display: none;
}