/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2017, 3:10:05 PM
    Author     : MariamAshraf
*/
#map{
    width: 100%;
    height: 400px;
}
#title
{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #269abc;
}
#type
{
    text-align: center;
    font-size: 20px;
    word-break: break-all;
}
#photo
{
    color: transparent;
    margin-left: 46%;
}
#add , #displayInfo , .button
{
    width: 150px;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #cd54a9;
    background-color: #cd54a9;
    border-radius: 5px;
    margin-left: 56%;

}
#photos
{
    width: 200px;
    height: 200px;
    border-radius: 7px;
    border: 2px solid black;
}
#displayInfo
{
    float:right ;
    margin-top:-40px;
    margin-right: 10px;
}
#result
{
    float: right;
    font-size: 20px;
    margin-right: 38px;
    display: none;
}
#add
{
    margin-left: 43%;
}
.fa-star.checked{
    color:orange;
}
.fa-star.shaded{
    color:orange;
}
#navBar a
{
    padding:15px 90px;
    height:50px;
}
.modal-body{
    height: 250px;
    overflow-y: auto;
}
#btn
{
    display:inline-block;
}
.button
{
    width:100px;
    height:40px;
}
.rate
{
    width:300px;
    margin-left:15%;
}
.heading
{
    font-weight: bold;
    font-size: 15px;
}
#div
{
    margin-left: 20%;
}